@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

/* shared styles */
.display-flex {
    display: flex;
}

.margin-left-right {
    margin: 0px 150px;

}

.text-black {
    color: #252432;
}

.text-gray {
    color: #8987A1;
}

.text-center {
    text-align: center;
}

/* header styles */
.nav-container {
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}


.nav-content ul {
    align-items: center;
    gap: 48px;
}

.nav-content ul li {
    list-style: none;
}

.nav-content ul li a:hover {
    color: #E95A08;
}

.nav-content ul li a {
    text-decoration: none;
}

.home {
    font-weight: bold;
    font-size: 1rem;
    color: #252432;
}

.shop,
.about {
    font-size: 1rem;
    color: #8987A1;
}

.cart {
    font-size: 1rem;
    color: #000000;
}

.carts {
    align-items: center;
    gap: 10px;
}

.nav-content ul li img {
    width: 24px;
    height: 24px;
}

/* banner styles */
.banner-container {
    margin: 120px 150px 120px;
    align-items: flex-end;
}

.banner-title {
    font-size: 4.06rem;
    font-weight: bold;
    color: #000000;
    margin: 0px;
}

.banner-description {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 13px 0px 0px;
}

#banner-sub-title {
    color: #E95A08;
}

/* plant section styles */
.plant-container {
    margin: 0px 150px 0px;
}

.plant-head {
    padding: 0px 126px;
}

.plant-container-title,
.deal-title {
    font-weight: bold;
    font-size: 3.12rem;
    color: #000000;
    margin: 0px;
}

#plant-container-subtitle,
.deal-sub {
    color: #E95A08;
}

.plant-container-description,
.deal-description {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 16px 0px 0px;
}

.plant-content img {
    width: 100%;
}

.plant-title,
.plant-price {
    font-size: 1.37rem;
    font-weight: 500;
    color: #111111;
    margin: 0px;
}

.plant-title {
    margin-top: 30px;
}

.plant-price {
    font-weight: bold;
    margin: 20px 0px 30px;
}

.cart-btn {
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    padding: 19px 50px;
    margin: 0px;
    width: 100%;
}

.cart-btn:hover {
    background-color: green;
}

.plant-1 {
    grid-area: plant-1;
}

.plant-2 {
    grid-area: plant-2;
}

.plant-3 {
    grid-area: plant-3;
}

.plant-4 {
    grid-area: plant-4;
}

.plant-5 {
    grid-area: plant-5;
}

.plant-6 {
    grid-area: plant-6;
}

.plant-7 {
    grid-area: plant-7;
}

.plant-8 {
    grid-area: plant-8;
}

.plant {
    display: grid;
    grid-template-areas:
        "plant-1 plant-2 plant-3 plant-4"
        "plant-5 plant-6 plant-7 plant-8"
    ;
    gap: 30px 20px;
    margin-top: 50px;
    justify-content: center;
}

/* trusted plant lover badge section*/
.badge {
    width: 286px;
    height: 286px;
    position: relative;
    margin: 83px 657px -159px 497px;
}

.badge img {
    width: 100%;
    filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}

/* plant lover section styles */
.plant-lover-container {
    margin: 0px 150px 133px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


.plant-lover-title {
    font-weight: bold;
    font-size: 3.12rem;
    color: #000000;
    margin: 0px;
}

.plant-lover-list {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    margin-top: 20px;
}

/* latest deal styles */
.deal-container {
    margin: 0px 150px 120px;
    align-items: center;
    justify-content: center;
}

.deal-head {
    margin: 0px 126px 120px;
}

.deal-content-container {
    align-items: center;
    justify-content: space-between;
}

.deal-content-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.deal-content-1 {
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    padding: 65px 70px;
    margin: 0px;
}

.deal-content-2 {
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    padding: 65px 70px;
    margin: 0px;
}

.deal-content-3 {
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    padding: 140px 120px 112px;
    margin: 0px;
}

.content-title-1,
.content-title-2 {
    font-weight: bold;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin: 0px;
}

.content-title-3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.shop-btn {
    background: none;
    padding: 20px 50px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    margin: 0px;
}

.shop-btn-zabo {
    font-size: 1.75rem;
}

.shop-btn a {
    color: #FFFFFF;
}

/* join section styles */
.join-container {
    background-image: url(../assets/news-letter-bg.png);
    padding: 199px 305px 193px;
    background-repeat: no-repeat;
    background-size: cover;
}

.join-title {
    font-weight: bold;
    font-size: 3.12rem;
    color: #FFFFFF;
    margin: 0px;
}

.join-link {
    margin-top: 23px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.join-email {
    grid-column: span 6;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 20px;
    border: none;
    outline: none;
}

.join-btn {
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 26px 50px;
    border: none;
}

.join-btn:hover {
    background-color: green;

}

/* footer styles */
.footer {
    padding: 50px 160px;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.footer-logo-description {
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}


.footer-link ul {
    display: grid;
    row-gap: 32px;
    margin: 0px;
}

.footer-link ul li {
    list-style: none;
}

.footer-link ul li a {
    text-decoration: none;
    color: #6B7280;
    font-size: 1rem;
}

.footer-site {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-items: center;
}

/* responsive styles */
/* mobile responsive */
@media screen and (max-width:576px) {

    .home,
    .shop,
    .about {
        display: none;
    }

    .nav-container {
        margin: 14px 16px;
    }

    .nav-container img {
        width: 63px;
        height: 38px;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin: 0px;
    }

    .banner-image {
        margin: 28px 0px;
    }

    .banner-content {
        margin: 0px 16px 65px;
    }

    .plant-container {
        margin: 0px 15px 42px;
    }

    .plant-head {
        padding: 0px 28px;
    }

    .plant-content img {
        width: 100%;
    }

    .plant {
        grid-template-areas:
            "plant-1 plant-2"
            "plant-3 plant-4"
            "plant-5 plant-6"
            "plant-7 plant-8"
        ;
        gap: 30px 20px;
        margin-top: 28px;
        justify-content: center;
    }

    .plant-price {
        margin: 10px 0px 30px;
    }

    .cart-btn {
        padding: 25px 30px;
    }

    .badge {
        display: none;
    }

    .plant-lover-container {
        flex-direction: column;
        margin: 0px 16px 40px;
        gap: 0px;
    }

    .plant-lover-image img {
        width: 100%;
    }

    .plant-lover-content {
        margin-top: 18px;
    }

    .plant-lover-list {
        margin-top: 16px;
    }

    .deal-container {
        flex-direction: column;
        margin: 0px 16px 40px;
    }

    .deal-head {
        margin: 0px;
        margin-bottom: 50px;
    }

    .deal-content-container {
        flex-direction: column;
    }

    .deal-content-left {
        gap: 0px;
    }

    .deal-content-2{
        margin-top: 20px;
    }
    .deal-content-3 {
        padding: 65px 75px;
        margin-top: 20px;
    }

    .content-title-3 {
        font-weight: bold;
        font-size: 1.25rem;
        color: #FFFFFF;
        margin: 0px;
    }

    .shop-btn-zabo {
        font-size: 1rem;
    }

    .join-container {
        padding: 110px 36px 64px;
    }

    .join-title {
        font-size: 1.25rem;
    }

    .footer {
        padding: 50px 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-link {
        flex-direction: column;
        justify-self: left;
    }

    .footer-link ul {
        padding: 0px;
        margin-bottom: 20px;
    }

    .footer-site {
        justify-self: left;
    }
}